
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModal">Product</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" id="productName" class="form-control" formControlName="pName">
            <span class="text-danger" *ngIf="!productForm.get('pName').valid && productForm.get('pName').touched">*Product name is required</span>
          </div>
          <div class="form-group">
            <input type="file" id="imgPath" class="form-control mb-2" formControlName="pImg" (change)="onImgChange($event)" accept="image/*">
            <p></p>
            <span class="text-danger" *ngIf="!productForm.get('pImg').valid && productForm.get('pImg').touched">*Image is required</span>
          </div>
          <div class="form-group">
            <label for="price">Product Price</label>
            <input type="type" id="price" class="form-control" formControlName="pPrice">
            <span class="text-danger" *ngIf="!productForm.get('pPrice').valid && productForm.get('pPrice').touched">*Price is required</span>
          </div>
          <button type="submit" class="btn btn-success mr-1" [disabled]="!productForm.valid">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
